h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    font-weight: 900;
}

.card {
    margin-bottom: 20px;
    border-color: rgb(199, 199, 199);
}

.card-header{
    background-color: rgb(225, 223, 223);
}
.card-body{
    background-color: rgb(242, 242, 242);
}

hr{
    border-color: green;
    max-width: 40rem;
}

#hr-nota{
    max-width: 100%;
    border-color: gray;
}

.btn-left{
    display: flex;
    justify-content: left;

}

.inline{
    display: inline!important;
}

#btnMarginRight{
    margin-right: 3rem;
}

#btnBuscar{
    margin-right: 1rem;
}
