<div class="container">
  <div class="text-center">
    <h1>Notas App</h1>
    <hr />
  </div>
  <div class="btn-left">
    <button type="button" class="btn btn-outline-success ml-2" routerLink="/register">
      Agregar Nota
    </button>
  </div>
  <br />

  <app-loading *ngIf="loading"></app-loading>
  <div class="card" *ngFor="let nota of listNotas">
    <div class="card-header">
      <!-- 2020-04-21 11:23AM - Cuentas por pagar -->
      {{ nota.CreationDate }} {{ nota.Title }}
      <div class="text-right inline">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm inline"
          routerLink="/register"
        >
          Modificar
        </button>
        |
        <button type="button" class="btn btn-outline-danger btn-sm inline" (click)="eliminarNota(nota.Id)">
          Eliminar
        </button>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <!-- <p>A well-known quote, contained in a blockquote element.</p> -->
          <!-- <footer class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </footer> -->
          <p>{{ nota.Content }}</p>
        </blockquote>
      </div>
    </div>
  </div>
  <h3 *ngIf="listNotas.length == 0 && loading == false">No hay notas para monstrar</h3>
</div>
